<div class="row">
<div class="col-md-4"><h1 class="text-center white">To Do</h1>
<%= render @to_do %>
<%= link_to 'New Task', new_task_path, class: 'btn btn-xs btn-primary btn-block' %>
</div>
<div class="col-md-4"><h1 class="text-center white">Doing</h1>
<%= render @doing %>
</div>
<div class="col-md-4"><h1 class="text-center white">Done</h1>
<%= render @done %>
</div>
</div>

<br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61327282-1', 'auto');
  ga('send', 'pageview');

</script>