<div class="jumbotron">
<h1><i class="fa fa-list"></i> 2Do List app</h1>

<p>This is my smart to do list RoR app. Well, actually it's just another simplified Trello clone lol</p>
<%= link_to "Sign up today!", "#", class: "btn btn-primary btn-lg" %>
</div>
</div>